.homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100%;
    

    .left{
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        text-align: center;
    }

    h1{
        font-size: 128px;
        background: linear-gradient(to right, #00C6FF, #7D00FF);
        background-clip: text;
        color:transparent;
    }
    h3{
        font-weight: 400;
        max-width: 70%;
    }
    a{
        padding: 15px 25px;
        background-color: #7D00FF;
        color:white;
        border-radius: 20px;
        font-size: 14px;
        margin-top: 20px;

        &:hover{
        background-color: white;
        color: #7D00FF;
        }

    }
    .right{
        flex: 1;
    }
    .dbgb {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;  
        height: 100vh; 
        opacity: 0.05; 
        object-fit: cover;
        animation: glowDb 20s infinite ease-in-out; 
        overflow: hidden; 
    }
    
}

@keyframes glowDb {
    0% {
        filter: brightness(1) blur(2px);
    }
    50% {
        filter: brightness(1.4) blur(5px); 
    }
    100% {
        filter: brightness(1) blur(2px);
    }
}
